In [10]:
#program for S-Algorithm in Machine Learning
import pandas as pd
import numpy as np

In [11]:
data=pd.read_csv('FindSone.csv')
data

     sky air temp humidity    wind water forcast enjoy sport
0  sunny     warm   normal  strong  warm    same         yes
1  sunny     warm     high  strong  warm    same         yes
2  rainy     cold     high  strong  warm  change          no
3  sunny     warm     high  strong  cold  change         yes

In [12]:
#all row and column
concepts=np.array(data)
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no'],
       ['sunny', 'warm', 'high', 'strong', 'cold', 'change', 'yes']],
      dtype=object)

In [13]:
#all row and column except last column(target)
concepts=np.array(data) [:,:-1]
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cold', 'change']],
      dtype=object)

In [14]:
#only last column(target)
target=np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [15]:
def train(concepts,target):
    for i, val in enumerate(target):
        if val=='yes':
            specific_h=concepts[i].copy()
            break
    for i, val in enumerate(concepts):
        if target[i]=='yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [16]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']

In [17]:
#for file two.csv
data2=pd.read_csv('FindStwo.csv')
concepts2=np.array(data2) [:,:-1]
target2=np.array(data2)[:,-1]

In [18]:
print(train(concepts2,target2))

['many' '?' 'no' '?' 'many']